<% if page.current? %>
  <li class="h5 page-item active">
    <%= content_tag :a, page, data: { remote: remote }, rel: page.rel, class: 'page-link text-white bg-info' %>
  </li>
<% else %>
  <li class="h5 page-item">
    <%= link_to page, url, remote: remote, rel: page.rel, class: 'page-link text-dark' %>
  </li>
<% end %>
