<div class="container">
  <h3>WELCOME TO</br>
      YUMEGURU</br>
      SITE</br>
  </h3>

  <p>『ゆ　め　ぐ　る』は温泉好きの人が集まる情報共有サイトです。</br>
                                                                 </br>
      ユーザーの口コミを参考にして、温泉巡りをより楽しましょう。</br>
      お気に入りの温泉を見つけたら投稿し自分だけのゆめぐる記録がつけられます。</br>
      ぜひ、あなたのおすすめの温泉を教えてください。
  </p>
</div>