<h3>『　ゆ　め　ぐ　る　』　へ　よ　う　こ　そ　。</h3>
  <p>はじめての方はサインアップ</br>
     登録済みの方はログインから
  </p>

<span><%=link_to "SIGN UP", new_user_registration_path %></span> |
<span><%=link_to "LOG IN", new_user_session_path %></span>